.logo {
    height: 75px;
    width: 75px;
    background-color: lightpink;
    border-radius: 50%;
    background-image: url(https://i.pinimg.com/1200x/ff/b2/6d/ffb26d996c734292f318a390c0308029.jpg);
    background-size: cover;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}